<section>
  <form fxLayout="column" 
        fxLayoutAlign="center center" 
        fxLayoutGap="10px"
        [formGroup]="loginForm" 
        (ngSubmit)='onSubmit()'>
    <mat-form-field>
      <input 
        type="email" 
        matInput 
        placeholder="Your Email"
        formControlName='email'
        email
        required>
      <mat-hint>Please enter a valid email address</mat-hint>
      <mat-error >Email address is missing or invlid</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input 
        type="password" 
        matInput 
        placeholder="Password"
        formControlName='password'
        minlength="6"
        required>
        <mat-hint>Please enter your password</mat-hint>
        <mat-error> Missing password</mat-error>
      </mat-form-field>
    <button 
      *ngIf="!(isLoading$ | async)"
      type="submit" 
      mat-raised-button 
      color="primary"
      [disabled]="loginForm.invalid">Submit</button>
      <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
  </form>
</section>
