<section class="new-attraction" fxLayout fxLayoutAlign="center">
  <mat-card fxFlex.xs="100%" fxFlex="400px">
    <mat-card-header>
      <div mat-card-avatar class="attraction-header-image"></div>
      <mat-card-title>Cusco</mat-card-title>
      <mat-card-subtitle>Peru</mat-card-subtitle>     
    </mat-card-header>
    <img mat-card-image fxLayoutAlign="center" src="https://www.cuscoperu.com/imagenes/g_tour/mapiok.jpg">
    <mat-card-content fxLayoutAlign="center">
      <p>
        Incan majesty and Andean baroque exist side-by-side in Cusco's stone streets, epitomized by the Qoriacancha palace and the church of Santo Domingo flanking the Plaza de Armas. In this high-altitude melting pot of Amerindian and mestizo culture, you'll find extraordinary textiles, lively summer festivals and archaeological wonders.
      </p>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center">
      <button mat-button>Like</button>
    </mat-card-actions>
  </mat-card>
</section>