<mat-toolbar color="primary">
    <div>
        <button mat-icon-button (click)="toggleSidenav();">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div><a routerLink="/">LOGO</a></div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="10px" class="nav-items">
            <li *ngIf="!(isAuth$ | async)"><a routerLink="/login">Login</a></li>
            <li *ngIf="isAuth$ | async"><a routerLink="/trips">Trips</a></li>
            <li *ngIf="isAuth$ | async"><a (click)="logout()">Logout</a></li>
        </ul>
    </div>
</mat-toolbar>
