<h2 mat-dialog-title>Edit Hot Spot</h2>
<mat-dialog-content>
    <form [formGroup]="hotSpotForm">
        <mat-form-field class="input-full-width">
            <input matInput placeholder="Hot Spot Name" formControlName="name">
        </mat-form-field>
        <mat-form-field class="input-full-width">
            <textarea matInput placeholder="Hot Spot Summary" formControlName="detail">
                </textarea>
        </mat-form-field>
        <mat-form-field class="input-full-width">
            <input matInput placeholder="Hot Spot Image URI" formControlName="imageUri">
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="onCancelClick()">Cancel</button>
    <button mat-button  (click)="onConfirmClick()">Confirm</button>
</mat-dialog-actions>